.emailList{
    flex: 1;
    overflow: scroll;
}

.emailList_setting{
    position: sticky;
    top: 0;
    border-bottom: 1px solid whitesmoke;
    display: flex;
    justify-content: space-between;
    background-color: white;
    z-index: 999;
    padding-right: 10px;
    margin-top: 20px;
    /*margin-top: 8px;*/
}

.emailList-section{
    position: sticky;
    top: 0;
    display: flex;
    background-color: white;
    border-bottom: 1px solid whitesmoke;
    z-index: 999;
}